/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 25px;
  /* yellow-green gradient */
  background: linear-gradient(-45deg, #26a5bf 0%,#b3f7aa 100%) repeat fixed;
}

.filigree {
  /* white box, rounded corners */
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "georgia";
}

.error {
  font-weight: bold;
  color: #800;
}
